<section>
  <div>
    <div class="icon">
      <fa-icon [icon]="easy"></fa-icon>
    </div>
    <h2>Легкий поиск</h2>
    <p>Наше приложение позволяет быстро найти рецепты по ингредиентам, категориям и предпочтениям, что экономит ваше
      время и усилия!</p>
  </div>
  <div>
    <div class="icon">
      <fa-icon [icon]="steps"></fa-icon>
    </div>
    <h2>Пошаговые инструкции</h2>
    <p>Каждый рецепт содержит подробные пошаговые инструкции, чтобы вам было проще следовать за процессом приготовления
      и не ошибиться.</p>
  </div>
  <div>
    <div class="icon">
      <fa-icon [icon]="access"></fa-icon>
    </div>
    <h2>Доступность</h2>
    <p>Наслаждайтесь рецепты в любое время и в любом месте — приложение доступно на мобильных и планшетных устройствах.
    </p>
  </div>
</section>