<section>
    <div>
        <h1>{{text}}</h1>
        <div class="app">
            <a href="https://play.google.com/store/apps/details?id=com.max.keto" target="_blank">
                <button><fa-icon class="icon" [icon]="androidIcon"></fa-icon>{{android}}</button>
            </a>
            <a href="https://my-recipes.ru/" target="_blank">
                <button><fa-icon class="icon" [icon]="chromeIcon"></fa-icon>{{chrome}}</button>
            </a>
        </div>
    </div>
    <div>
    </div>
</section>